<!-- success.mustache -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge Creation Success</title>
</head>
<body>
<h1>성공적으로 챌린지 생성</h1>
<p>챌린지 번호 : {{challenge_id}} 생성 완료</p>

</body>
</html>
